<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle toolbarButtons parametersDropDown" id="exportDropDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li><a href="#" role="button" id="exportXls"><i   class="fa fa-file-excel-o" aria-hidden="true"></i> XLS</a><li>
            <li><a href="#" role="button" id="exportXlsx"><i  class="fa fa-file-excel-o"                    aria-hidden="true"></i> Excel (XLSX)</a><li>
            <li><a href="#" role="button" id="exportPdf"><i   class="fa fa-file-pdf-o"                      aria-hidden="true"></i> PDF</a><li>
            <li><a href="#" role="button" id="exportPs"><i    class="fa fa-paragraph"                       aria-hidden="true"></i> PostScript (PS)</a><li>
            <li><a href="#" role="button" id="exportPpt"><i   class="fa fa-file-powerpoint-o"               aria-hidden="true"></i> PowerPoint (PPT)</a><li>
            <li><a href="#" role="button" id="exportPptx"><i  class="fa fa-file-powerpoint-o"               aria-hidden="true"></i> PowerPoint (PPTX)</a><li>
            <li><a href="#" role="button" id="exportDoc"><i   class="fa fa-file-word-o"                     aria-hidden="true"></i> Word (DOC)</a><li>
            <li><a href="#" role="button" id="exportDocx"><i  class="fa fa-file-word-o"                     aria-hidden="true"></i> Word (DOCX)</a><li>
            <li><a href="#" role="button" id="exportXhtml"><i class="fa fa-internet-explorer"               aria-hidden="true"></i> XHTML</a><li>
            <li><a href="#" role="button"><i class="fa fa-print toPrinter" aria-hidden="true"></i> Print</a></li>
        </ul>
    </li>
    <li><a href="#" role="button"><p (click)="open(openDialog)"             class="text-muted">Open</p></a></li>
    <li><a href="#" role="button"><p (click)="save(saveDialog)"             class="text-muted">Save</p></a></li>
    <li><a href="#" role="button"><p (click)="runWithParameters(openDialog, 'birtParameters')" class="text-muted">Parameters</p></a></li>
    <li><a href="#" role="button"><p (click)="help(helpDialog)"             class="text-muted">Help</p></a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li><div id="reportName" class="birtNav"></div></li>
    <li class="birtNav"><i class="fa fa-fast-backward" aria-hidden="true"></i></li>
    <li class="birtNav"><i class="fa fa-backward" aria-hidden="true"></i></li>
    <li class="birtNav birtNavNum">0</li>
    <li class="birtNav birtNavNum">of</li>
    <li class="birtNav birtNavNum">0</li>
    <li class="birtNav"><i class="fa fa-forward" aria-hidden="true"></i></li>
    <li class="birtNav"><i class="fa fa-fast-forward" aria-hidden="true"></i></li>
</ul>

<!--<modal #openDialog (focusin)="openExplorer('reportExplorer')">-->
<modal #openDialog (onOpen)="openExplorer('reportExplorer')">
    <modal-header>
        <h1>Select a report design</h1>
    </modal-header>
    <modal-content>
        <div class="reportExplorer reportExplorerControls" id="reportExplorer"></div>
        <div class="reportExplorerParameters" id="reportExplorerParameters"></div>
    </modal-content>
    <modal-footer>
        <input type="text" class="form-control openReportName" id="openReportName">
        <button class="btn btn-primary reportExplorerControls" (click)="openReport(openDialog, 'birt', 'reportExplorerParameters')">Open</button>
        <button class="btn btn-primary reportExplorerControls" (click)="openDialog.close()">Close</button>
        <button (click)="openDialogRunParams('birt', openDialog)" class="btn btn-primary reportExplorerParameters" id="reportExplorerParametersRun">Run Report</button>
        <button (click)="swapViewerParams()" class="btn btn-primary reportExplorerParameters">Select Report</button>
        <button class="btn btn-primary reportExplorerParameters">Close</button>
    </modal-footer>
</modal>

<modal #saveDialog (onOpen)="saveExplorer('saveExplorer')">
    <modal-header>
        <h1 id="openDialogTitle">Select a location for your design</h1>
    </modal-header>
    <modal-content>
        <div class="saveExplorer" id="saveExplorer"></div>
    </modal-content>
    <modal-footer>
        <input type="text" class="form-control saveReportName" id="saveReportName">
        <button class="btn btn-primary" (click)="saveReport(saveDialog)">Save</button>
        <button class="btn btn-primary" (click)="saveDialog.close()">Close</button>
    </modal-footer>
</modal>

<modal #helpDialog>
    <modal-header>
        <h1>Help</h1>
    </modal-header>
    <modal-content>
        Hello Modal!
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="helpDialog.close()">close</button>
    </modal-footer>
</modal>