<aside class="socialNetworks" id="sticky-social">
    <ul>
        <li><a href="http://www.facebook.com/123"    class="entypo-facebook"    target="_blank"><i class="fa fa-facebook"    aria-hidden="true"></i><span >Facebook</span></a></li>
        <li><a href="http://www.twitter.com/123"     class="entypo-twitter"     target="_blank"><i class="fa fa-twitter"     aria-hidden="true"></i><span >Twitter</span></a></li>
        <li><a href="http://plug.google.com/123"     class="entypo-gplus"       target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i><span >Google+</span></a></li>
        <li><a href="http://www.linkedin.com/123"    class="entypo-linkedin"    target="_blank"><i class="fa fa-linkedin"    aria-hidden="true"></i><span >LinkedIn</span></a></li>
        <li><a href="http://www.instagram.com/123"   class="entypo-instagrem"   target="_blank"><i class="fa fa-instagram"   aria-hidden="true"></i><span >Instagram</span></a></li>
        <li><a href="http://www.stumbleupon.com/123" class="entypo-stumbleupon" target="_blank"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span >StumbleUpon</span></a></li>
        <li><a href="http://www.pintrest.com/123"    class="entypo-pinterest"   target="_blank"><i class="fa fa-pinterest"   aria-hidden="true"></i><span >Pinterest</span></a></li>
        <li><a href="http://www.flickr.com/123"      class="entypo-flickr"      target="_blank"><i class="fa fa-flickr"      aria-hidden="true"></i><span >Flickr</span></a></li>
        <li><a href="http://www.tumblr.com/123"      class="entypo-tumblr"      target="_blank"><i class="fa fa-tumblr"      aria-hidden="true"></i><span >Tumblr</span></a></li>
    </ul>
</aside>